<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KansouAPI</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&family=Roboto:wght@100;300&display=swap" rel="stylesheet">

</head>
<body>
    <h1>KansouAPI</h1>
    <p>日本語の感想文を返すAPI。</p>
    <h2>使い方</h2>
    <p></p>
</body>
</html>