<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KansouAPI</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/index.js" type="text/JavaScript"></script>
</head>
<body>
    <div class="content">
        <div class="hero-icon"><img src="/static/hero-icon.png" alt="hero-icon"></div>
        <p class="description">さまざまな状況に適用できそうな感想文を返すAPI。</p>
        <h2>usage</h2>
        <div class="url">
            <p class="url">http://localhost:3000/kansou</p>
            <button type="button">copy</button>
        </div>
    </div>

</body>
</html>